<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receipt Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    {% for file in css %}
    <link href="/{{ file }}" rel="stylesheet" />
    {% endfor %}
  </head>
  <body class="w-full min-h-dvh font-[Inter] font-semibold">
    {% include "header.html" %}
    <main class="mt-8 container mx-auto px-4 space-y-8">
      <div class="space-y-4">
        <h2 class="font-bold text-2xl">Upload Receipt</h2>
        <form
          action="/upload"
          method="post"
          class="max-w-sm space-y-4"
          enctype="multipart/form-data"
        >
          <label for="receipt-name" class="text-sm font-medium mb-2 block"
            >Name</label
          >
          <input
            type="text"
            name="name"
            class="border-b-2 font-medium border-black w-full focus:outline-none py-2"
            id="receipt-name"
          />
          <label for="upload-1" class="text-sm font-medium mb-2 block">
            Receipt image
          </label>
          <input
            id="upload-1"
            type="file"
            name="file"
            accept="image/*"
            class="w-full font-medium text-sm cursor-pointer focus:outline-none file:cursor-pointer file:border-0 file:py-2 file:px-3 file:shadow-none file:mr-4 file:bg-gray-300 hover:file:bg-gray-400 file:text-black"
          />

          <button type="submit" class="bg-green-700 text-white px-3 py-2">
            Upload
          </button>
        </form>
      </div>
      <hr class="border-slate-200" />
      <section class="space-y-4">
        <h2 class="font-bold text-2xl">Receipts</h2>
        <div class="flex"></div>
      </section>
    </main>
    {% for file in scripts %}
    <script type="module" src="{{ file }}"></script>
    {% endfor %}
  </body>
</html>
