<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Receipt Manager</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    {% for file in css %}
    <link href="/{{ file }}" rel="stylesheet" />
    {% endfor %}
  </head>
  <body class="w-full min-h-dvh font-[Inter] font-semibold">
    {% include "header.html" %}
    <main class="px-4 container mx-auto">
      <section
        class="bg-green-700 p-8 mt-8 space-y-4 text-center max-w-sm mx-auto"
      >
        <span
          class="material-symbols-outlined text-white"
          style="font-size: 48px"
        >
          order_approve
        </span>
        <h1 class="text-4xl! text-white">Success</h1>
        <p class="text-white">
          Your receipt was uploaded successfully for processing. filename: {{
          filename }}
        </p>
        <a href="/" class="underline text-white">Go home</a>
      </section>
    </main>

    {% for file in scripts %}
    <script type="module" src="{{ file }}"></script>
    {% endfor %}
  </body>
</html>
